<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body>


  {% extends "main/header.html" %}
  	{% block content %}
	 <div class="row">
	 	{% for a in apps %}
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{a.soft_name}}</span>
          <p>{{a.developer}}</p>
          <p>{{a.version}}</p>
          <p style="font-size: 70%">{{a.date}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}

	{% for a in apps %}

	{{a.apps_title}}
	{{a.apps_content}}
	{{a.date}}

	{% endfor %}

</body>
</html>

